// Imports
@import '../../../bower_components/bootstrap/scss/bootstrap'
@import '../../../node_modules/react-select/scss/default.scss'
@import '../../../bower_components/tether/src/css/tether'

// Fonts

@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400'

// Variables
$white: #FBFBFB
$whiteRGBA: rgba(251,251,251,1)
$red: #FD2121
$black: rgba(7,14,22,1)
$black-hover: rgb(53, 53, 53)
$dark: #1F3043
$muted: rgba(255,255,255,0.6)
$grayT: rgba(7,14,22,0.2)

$grad-red: linear-gradient(-144deg, #FD2121 0%, #DB1E1E 100%)
$grad-green: linear-gradient(45deg, #96CE33 0%, #80C4AD 100%)
$grad-orange: linear-gradient(45deg, #FFAA13 100%, #FA740C 0%)
$grad-blue: linear-gradient(45deg, #58A6FD 0%, #194ACC 100%)

// Shortcuts to variables
.white
  color: $white
  
.red
  color: $red
  
.black
  color: $black
  
.dark
  color: $dark
  
.muted
  color: $muted  
  
html
  background: $black
  min-height: 100%
  
body
  font-family: 'Lato', sans-serif
  
// Main scaffold
.app
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  align-content: center
  background-image: url('/img/bg.jpg')
  background-size: 100% auto
  background-position: top center
  background-repeat: no-repeat
  background-color: black

.main
  display: flex
  flex-direction: column
  justify-content: flex-start
  margin: 86px 0 121px 0
  
// Navigation
.main .navbar
  padding: 0
  min-height: 35px
  
  .navbar-toggler
    border: 0
    color: $red
  
  .nav-link
    line-height: 35px
    font-size: 14px
    font-weight: 400
    color: $white
    text-transform: uppercase
    padding: 0 20px
    background: transparent
    transition: background 150ms ease, color 150ms ease
    
    &:hover, &.active
      background: $whiteRGBA
      color: $red
      
    &.cogs:hover, &.cogs.active
      background: $black
      color: $red
      
  .navbar-search
    input
      background: transparent
      border: none !important
      text-align: right
      color: $white
      font-size: 12px
      line-height: 35px
      padding: 0
    
    .fa-search
      padding: 0 20px 0 10px
      color: $white
      font-size: 18px
      line-height: 35px
      
      
// Contents
.contents
  background: $white
  
  
// Home
.home
  box-sizing: border-box

// Features
.feature-info
  color: $dark
  max-width: 235px
  
  h4
    font-size: 24px
    font-weight: 700
    text-transform: uppercase
    padding: 0
    margin: 0 0 15px 0
    
  p
    font-size: 14px
    font-weight: 300
    line-height: 27px
    
.features
  min-height: 176px
  background: url('/img/oval.png') center center no-repeat
  margin: 40px 0
  
  h1
    color: $red
    font-size: 80px
    font-weight: 900
    position: relative
    top: 0
    transition: top 300ms ease
    
    &:hover
      top: -10px
    
    &:hover:after
      width: 130px
      height: 4px
      left: 16px
      bottom: -20px
    
    &:after
      position: absolute
      bottom: -10px
      left: -5px
      display: block
      content: ''
      width: 167px
      height: 5px
      background: url('/img/shadow.png') center center no-repeat
      background-size: contain
      transition: all 300ms ease
      
  .features-list
    list-style: none
    min-width: 180px
    margin: 0
    padding: 0
    
    &.right
      
    &.left
      text-align: right
    
    li
      margin: 0
      padding: 5px 10px
      border-radius: 4px
      background: transparent
      color: $dark
      width: 150px
      cursor: pointer
      transition: all 300ms ease
      
      &.active, &:hover
        padding: 5px 10px
        border-radius: 4px
        background: $dark
        color: $white
        width: 150px
    
// Home description    
.description
  margin: 20px 0 40px 0
  font-size: 36px
  font-weight: 300
  color: $black
  line-height: 44px
  text-align: center
  
// Buttons
.btn-pill
  width: 250px
  padding: 0 40px
  margin: 0 auto
  line-height: 50px
  text-align: center
  position: relative
  font-size: 24px
  color: $white
  border-radius: 100px
  font-weight: 400
  text-transform: uppercase
  bottom: 0
  transition: bottom 300ms ease, box-shadow 300ms ease
  
  .fa
    position: absolute
    font-size: 36px
    left: 10px
    top: 7px
    
  &:hover
    bottom: 5px
    
a.btn-pill
  text-decoration: none
  color: $white
  
.btn.show-more
  border-radius: 0
  background: $black
  font-size: 14px
  color: $white
  font-weight: 300
  text-transform: uppercase
  line-height: 22px
  margin: 0 0 40px 0
  cursor: pointer
  
.btn-square
  line-height: 46px
  padding: 0 20px
  font-size: 12px
  color: $white
  border: 1px solid rgba(255,255,255,0.2)
  cursor: pointer
  transition: border 300ms ease
  
  &:hover
    border: 1px solid $whiteRGBA
    
.btn.btn-black-form
  background: $black
  line-height: 40px
  padding: 0 20px
  font-size: 13px
  font-weight: 300
  color: $muted
  min-width: 100px
  cursor: pointer
  margin: 0
  border-radius: 0
  border: none
  border-left: 1px solid $muted
  transition: background 300ms ease
    
  &:hover
    background: $black-hover
    
// Gradients
.bg-red
  background-image: $grad-red !important
    
// Glows
.glow-red
  box-shadow: 0 0 13px rgba(360,36,89,0.3)
    
  &:hover
    box-shadow: 0 5px 13px rgba(360,36,89,0.3)

// Headers
.header-2
  font-size: 24px
  color: $white
  font-weight: 700
  text-transform: uppercase
  line-height: 29px
  
  &.dark
    color: $dark !important

.header-3
  font-size: 24px
  color: $white
  font-weight: 700
  line-height: 29px

  &.dark
    color: $dark !important
    
.header-4
  font-size: 18px
  font-weight: 900
  color: $black
  line-height: 22px
    
  &.dark
    color: $dark !important
    
.header-5
  font-size: 16px
  line-height: 19px
  font-weight: 700
  color: $white

// Stats && Info headers (dark blocks)
.stats-header, .info-header
  background: $black
  
.stats-block
  
  &.stats-block-inner
    margin-left: 50px
    
  .header-5
    margin-bottom: 10px
      
    
  .stats-count
    font-size: 72px
    color: $white
    font-weight: 100
    line-height: 86px
    
  &.small
    
    .stats-count
      font-size: 14px
      line-height: 17px
      color: $white

  .repo-block
    margin: 20px 0 0 0
    padding: 20px
    width: 305px
    border: 1px solid rgba(255,255,255,0.3)
    transition: border 300ms ease
    
    &:hover
      border: 1px solid rgba(255,255,255,1)
    
  .paragraph-small
    font-weight: 400
    font-size: 13px
    color: $white
    line-height: 20px
    height: 70px
    margin: 5px 0
  
  .repo-info
    
    .repo-info-item
      margin-bottom: 10px
      
      &:last-child
        margin-bottom: 0 
    
// Tags
.top-tags
  width: 305px
  height: 228px
  margin: 20px 0 0 0
    
  .tag
    font-size: 14px
    font-weight: 400
    padding: 5px 10px
    color: $white
    border: 1px solid rgba(255,255,255,0.3)
    transition: border 300ms ease

    &:hover
      border: 1px solid rgba(255,255,255,1)
      
    &.active
      border: 1px solid rgba(255,255,255,1)
      
// Cog & Repo info headers
.header-1
  font-size: 36px
  font-weight: 700
  line-height: 44px
  color: $white
  
  &.dark
    color: $dark !important
  
.info-header
  
  .header-1
    margin-right: 40px
  
  .header-4
    font-weight: 400
    font-size: 18px
    color: $muted !important
    margin: 0 20px 7px 0
    line-height: 18px

    a
      color: $muted !important
      transition: color 300ms ease
    
    a:visited
      color: $muted !important
      transition: color 300ms ease

    a:hover
      color: $white !important
    
  .repo-info-item
    margin: 0 20px 7px 0
    
    &.vote
      cursor: pointer
      
    &.vote .muted
      transition: color 300ms ease
      
    &.vote:hover .muted
      color: $white
    
    a
      color: $muted
      transition: color 300ms ease
      
    a:visited
      color: $muted
      transition: color 300ms ease
      
    a:hover
      color: $white
    
    .muted
      font-size: 18px
      line-height: 18px
      
  .type-badge
    margin: 0 20px 8px 0

// Icons
.icon
  width: 18px
  height: 18px
  margin-right: 10px
  background-position: center center
  background-repeat: no-repeat
  background-size: contain

  &.icon-author
    background-image: url('/img/author-icon.png')
    
  &.icon-stars
    background-image: url('/img/stars-icon.png')
    
  &.icon-tags
    background-image: url('/img/tags-icon.png')

// List
.list
  
  .header-2, .header-3
    color: $dark
    
  .header-2
    margin-bottom: 20px
    
  .items
    
    .item
      margin-bottom: 40px
    
      .item-inner
        padding: 10px
        width: 250px
        height: 95px
        border: 1px solid rgba(0,0,0,0)
        transition: border 300ms ease
        
        &:hover
          border: 1px solid rgba(0,0,0,0.6)
        
        .item-text
          font-size: 11px
          line-height: 13px
          color: $dark
          min-height: 26px
          margin: 5px 0
        
        .item-author
          font-size: 13px
          line-height: 16px
          color: rgba(0,0,0,0.4)
          margin-right: 10px
        
// Type badges
.type-badge
  padding: 0 7px
  line-height: 15px
  font-size: 10px
  color: $white
  border-radius: 100px
  
  &.badge-approved
    background-image: $grad-green
    
  &.badge-unapproved
    background-image: $grad-red
    
  &.badge-beta
    background-image: $grad-orange
    
  &.badge-blue
    background-image: $grad-blue
    
// Info blocks (striped paragraph)
.info-block
  padding-left: 20px
  border-left: 10px solid rgba(7,14,22,0.6)
  font-size: 14px
  font-weight: 300
  color: $dark
  line-height: 27px
  margin-bottom: 40px
  
  &.red
    border-left: 10px solid rgba(238,32,32,0.6)
    
// Cog & Repo page
.cog
  
  .text-muted
    color: rgba(0,0,0,0.6)
    
.item-description
  margin: 10px 0 20px 0
  font-size: 14px
  font-weight: 400
  color: $dark
  line-height: 24px

.code
  margin: 15px 0 10px 0
  padding: 15px
  font-family: 'Source Code Pro', monospace, sans-serif
  font-weight: 300
  font-size: 14px
  background: $black
  color: $white
  
// Relevant cogs block
.cogs-relevant
  padding-top: 40px
  border-top: 1px solid $dark
  
  .header-4.relevant-title
    margin: 0 0 20px 0
    
    
// Panel
.panel
  
  .stats-block
    margin-right: 40px
    
  .repos-admin-list
    max-height: 350px
    overflow-y: scroll
    
    .list-group-item
      transition: all 300ms ease
      border-radius: 0
      cursor: pointer
      line-height: 50px
      margin: 0
      padding: 0 20px
      border-top: none
      flex-shrink: 0
      
      &:first-child
        border-top: 1px solid rgba(0, 0, 0, 0.125)
    
      &:hover, &.active
        background: $black
        color: $white
        border-color: rgba(0,0,0,0.125) 

        .repo-admin-author a
            color: $white
        
      .repo-admin-name
        margin-right: 20px
        font-size: 18px
        font-weight: 900
        
      .repo-admin-author
        font-size: 14px
        font-weight: 300
        
        a
          color: $black
          font-weight: 700
          transition: color 300ms ease
          
  .repo-block
    font-weight: 300
    
    .header-5
      font-size: 16px
      color: $black
      font-weight: 900
      margin: 15px 0 10px 0
    
    .cogs-list
      
      .cogs-list-item
        min-width: 125px
        line-height: 30px
        border: 1px solid $grayT
        font-size: 14px
        font-weight: 300
        color: $dark
        text-align: center
        margin-bottom: 10px
    
    .action-buttons
      
      .action-button
        min-width: 90px
        line-height: 25px
        font-weight: 300
        margin-bottom: 10px
        font-size: 12px
        color: $muted
        background: $black
        transition: background 300ms ease
        text-align: center
        cursor: pointer
        
        &:hover
          background: $black-hover
          
        &.delete
          background-image: $grad-red
          font-weight: 700
          color: $white
          
          &:hover
            background-image: $grad-red
      
    
// Forms

.form-black
    
  .form-group
    margin-right: 0 !important
    
    &.select-helper
      min-width: 150px
      
    .status
      margin-left: 15px
      line-height: 40px
  
  .form-control
    background: $black
    color: $muted
    line-height: 40px
    padding: 0 20px
    border-radius: 0
    border: none
    font-size: 13px
    font-weight: 300
    min-width: 300px
    border-left: 1px solid $muted
     
  .Select
    .Select-control
      background: $black
      color: $muted
      line-height: 40px
      padding: 0 20px
      border-radius: 0
      border: none
      font-size: 13px
      font-weight: 300
      min-width: 150px
      border-left: 1px solid $muted

      .Select-value-label
        color: $muted !important
        line-height: 40px
    
    .Select-menu-outer
      background: $black
      color: $muted 
      border-radius: 0 
      border: none
      min-width: 150px
      
      .Select-option
        background: $black
        color: $muted 
        border-radius: 0
        border: none
        font-size: 13px
        font-weight: 300
        line-height: 30px
        transition: background 300ms ease
        
        &:hover
          background: $black-hover
        
// Footer
.footer
  width: 100%
  background: $black
  text-align: center
  
  .footer-text
    font-weight: 700
    line-height: 50px
    font-size: 14px
    color: $white
    text-transform: uppercase
    
// Extra
.padding
  padding: 40px
  
.muted
  font-size: 13px
  font-weight: 400
  color: $muted
  
.suppress-links a, a.suppress-links
  text-decoration: none !important
  
.display-linebreak
  white-space: pre-line