<!doctype html>
<html>
<head>
    <title>Cogs.Red</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Meta -->
    <meta property="og:image" content="https://cogs.red/img/social.jpg" />
    <meta property="og:description" content="Red-DiscordBot cogs registry" />
    <meta property="og:type" content="article" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:size" content="@orels1tips" />
    <meta property="twitter:image" content="https://cogs.red/img/social.jpg" />
    <meta property="twitter:description" content="Red-DiscordBot cogs registry" />
    <meta property="twitter:domain" content="cogs.red" />


    {{ head|safe }}
</head>
<body>
<div id="app">{{ html|safe }}</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
<script src="https://use.fontawesome.com/7c24710333.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>