<!doctype html>
<html class="d-flex flex-column">
<head>
    <title>Cogs.Red</title>
    <link rel="stylesheet" href="{{styles}}">

    <script src="https://cdn.ravenjs.com/3.9.1/raven.min.js"
            crossorigin="anonymous"></script>
    <script>
        Raven.config('https://2b4fade6e4b84f9383afac927c9c6001@sentry.io/131144').install();
    </script>

    <!-- Meta -->
    <meta property="og:image" content="https://cogs.red/img/social.jpg" />
    <meta property="og:description" content="Red-DiscordBot cogs registry" />
    <meta property="og:type" content="website" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:size" content="@orels1tips" />
    <meta property="twitter:image" content="https://cogs.red/img/social.jpg" />
    <meta property="twitter:description" content="Red-DiscordBot cogs registry" />
    <meta property="twitter:domain" content="cogs.red" />


    {{ head|safe }}
</head>
<body class="d-flex" style="flex:1;">
<div id="app" class="d-flex flex-column" style="flex:1">{{ html|safe }}</div>
<script src="https://use.fontawesome.com/7c24710333.js"></script>
<script src="{{vendor_bundle}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.0/mousetrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{bundle}}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-16031060-3', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>